body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}

.dark-mode {
  background-color: #333333;
  color: #ffffff;
}

.dark-mode a#tribute-link {
  color: #4d9ef7;
}

.dark-mode #tribute-info {
  background-color: #444444;
  border-color: #555555;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 15px;
}

p {
    margin-top: 20px;
    margin-bottom: 20px;
}

ul {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
}

li {
    margin-bottom: 15px;
}

#img-div {
    text-align: center;
    margin: 20px 0;
}

#image {
  width: 50%; 
  height: auto; 
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#tribute-info {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.extra-space {
    margin-top: 30px;
    margin-bottom: 20px;
}

a#tribute-link {
    color: #007bff;
    text-decoration: none;
}

a#tribute-link:hover {
    text-decoration: underline;
}

h1, h3, p {
  text-align: center;
}

@media (max-width: 768px) {
    #main {
        grid-template-columns: 1fr; 
    }
}
